<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-width: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>{{ recipe.name }}</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div appDropdown class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul appDropdown class="dropdown-menu">
        <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h5>Description:</h5>
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h5>Ingredients:</h5>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} – {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
