<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd: oddNumber % 2 !== 0}"
            *ngFor="let oddNumber of oddNumbers">
            {{ oddNumber }}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            [ngStyle]={}
            *ngFor="let evenNumber of evenNumbers">
            {{ evenNumber }}
          </li>
        </div>
      </ul>
      <p appBasicHighlight>Styled with BasicHighLightDirective!</p>
    </div>
  </div>
</div>
