<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Item:</label>
          <input
            type="text"
            class="form-control"
            name="name"
            ngModel
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount:</label>
          <input
            type="number"
            class="form-control"
            name="amount"
            ngModel
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">Add Item</button>
          <button class="btn btn-danger" type="button">Delete Item</button>
          <button class="btn btn-primary" type="button">Clear Form</button>
        </div>
      </div>
    </form>
  </div>
</div>
