<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1 class="text-center">Assignment 3: Directives</h1>
      <hr>
      <ol>
        <li>Add A button which says 'Display Details'</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
      </ol>
      <hr>
      <button class="btn btn-success" (click)="onToggleDetails()">Toggle Details</button>
      <p *ngIf="displayDetails; else nope;" class="help-block">Here are the details</p>
      <ng-template #nope>
        <p class="help-block">Click the button</p>
      </ng-template>
      <p *ngFor="let item of items"
        [ngStyle]="{background: item.len >= 4 ? 'blue' : 'transparent'}"
        [ngClass]="{'white-text': item.len >=4}"
        >{{ item.len + 1 }}. {{ item.stamp }}
      </p>
    </div>
  </div>
