<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->

      <form [formGroup]="signupForm" (ngSubmit)="onSaveProject()">
        <div class="form-group">
          <label for="projectname">Project Name:</label>
          <input type="text" name="projectname" formControlName="projectname" class="form-control">
          <p *ngIf="!signupForm.get('projectname').valid && signupForm.get('projectname').touched" class="help-block">Please enter a project name.</p>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" name="email" formControlName="email" class="form-control">
          <p *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched" class="help-block">Please enter a valid email address.</p>
        </div>
        <!-- <div class="form-group">
          <label for="status">Project Status:</label>
          <select name="status" formControlName="status" class="form-control">
            <option value="stable">Stable</option>
            <option value="critical">Critical</option>
            <option value="finished">Finished</option>
          </select>
        </div> -->
        <div class="form-group">
          <label for="status">Project Status:</label>
          <select name="status" formControlName="status" [(ngModel)]="signupForm.statusChoices" class="form-control">
            <option *ngFor="let choice of statusChoices" [value]="choice">{{ choice }}</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
